@import "ext_fonts.css";

/*==== GENERAL PAGE CONFIGURATION ====*/
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background-color: #A0A0A0;
    height: auto;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    padding: 7px;
}

/*==== PAGE SECTION CONFIGURATION ====*/
.page_section {
    background-color: #CED6DC;
    /*#D0D0D0*/
    position: static;
    display: flex;
    flex-flow: row;

    /* SIZE CONF */
    width: 85%;
    height: 100%;

    /* BORDER CONF */
    border-style: outset;
    border-color: #817e7e;
    box-shadow: 2px 2px 5px #505050;
}
/*
.topbar {
    float: right;
    display: flex;
    flex-flow: column;
    background-color: #E0E0E0;
    height: 3.5rem;
    margin-left: 195px;
}

.topbar h3 {
    text-align: center;
}
*/
/*==== MAIN CONTENT AND MENU CONFIGURATION ====*/
.sidemenu {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #404860;
    color: #E0E0E0;

    /* SIZE CONF */
    width: 12rem;
    height: auto;

    /* BORDER CONF */
    box-shadow: 1px 1px 5px black;
}

.sidemenu a {
    display: block;
    text-decoration: none;
    color: #E0E0E0;
}

.sidemenu a:hover {
    color: #E0E080;
}

.sidemenu .menu_item {
    padding: 3px;
    margin: 13px;
    font-size: 18px;
}

.sidemenu h3 {
    text-align: center;
}

.sidemenu h2{
    text-align: center;
}

.main_content {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    flex: min-content;
    text-align: justify;
}

/*==== TABLE CONFIGURATION ====*/
.table_container table {
    width: 99%;
    border: 3px inset;
    border-collapse: collapse;
}

.table_container th {
    font-family: 'Oswald', sans-serif;
    padding: 0px 5px;
    border: 2px inset;
}

.table_container td {
    padding: 10px;
}

.table_container td img {
    height: 13rem;
    width: 13rem;
}

.table_container .news_section {
    margin: 10px 10px;
}

/*==== ID CONTENT CONFIGURATION ====*/
#news_header {
    background-color: #303648;
    color: #E0E0E0;
}

#marquee_hell {
    font-family: 'Audiowide', sans-serif;
    background: linear-gradient(to bottom, #A0A0A0 0%, #818181 100%);
    width: 100%;
}

/*==== MINOR/SPECIFIC CONFIGURATION ====*/
.contat_icon {
    width: 30px;
    height: 30px;
    display: block;
}


/* LISTA DE CORES

#C8C8C8
#303648
#A0A0A0
#CED6DC
#E0E080
#E0E0E0
#404860

*/